@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.brand {
  margin: 30px 0;
  font-size: 3em;
  color: #e50914;
  text-transform: uppercase;
}

.heading {
  margin: 50px 0 25px;
  font-size: 2.2em;
  color: #e50914;
  text-transform: uppercase;
}

.movies {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: minmax(175px, auto);
  gap: 7px;
}

.movie-front {
  position: relative;
}

.movie p {
  font-size: 18px;
}

.movie span {
  display: inline-block;
  position: absolute;
  padding: 3px;
  border-radius: 3px;
  background-color: #e50914;
  font-size: 12px;
  line-height: 1;
  color: #fff;
}

.movie-rating {
  top: 10px;
  left: 10px;
}

.movie-release-date {
  bottom: 10px;
  left: 10px;
}
