body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  text-align: center;
}

.heading {
  margin: 35px 0 40px;
  font-size: 3em;
  color: #e50914;
  text-transform: uppercase;
}

.movies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie {
  width: 10%;
  margin-bottom: 30px;
}

.movie-front {
  position: relative;
}

.movie img {
  width: 80%;
}

.movie p {
  font-size: 18px;
}

.movie span {
  display: inline-block;
  position: absolute;
  padding: 3px;
  border-radius: 3px;
  background-color: #e50914;
  font-size: 12px;
  line-height: 1;
  color: #fff;
}

.movie-release-date {
  top: 10px;
  left: 30px;
}

.movie-category {
  bottom: 15px;
  right: 30px;
}

.movie-details {
  width: calc(1000% - 50px);
  height: 0;
  overflow: hidden;
  background-color: #222;
  color: #fff;
}

.movie.is-active .movie-details {
  height: auto;
  padding: 25px;
}
