body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  text-align: center;
}

.heading {
  position: absolute;
  left: 5%;
  z-index: 9;
  margin: 35px 0 40px;
  font-size: 3em;
  color: #e50914;
  text-transform: uppercase;
}

.featured-movie {
  position: relative;
  background: #000;
}

.featured-movie-content {
  position: absolute;
  bottom: 50px;
  left: 50%;
  width: 85%;
  padding: 40px 50px;
  border-radius: 10px;
  background: rgba(0,0,0,0.5);
  color: #fff;
  text-align: left;
  transform: translateX(-50%);
}

.featured-movie-title {
  margin-top: 0;
}

.featured-movie-list {
  padding: 0;
  margin-top: -15px;
  margin-bottom: 25px;
}

.featured-movie-list li {
  display: inline-block;
  margin-right: 15px;
}

.featured-movie-summary {
  margin-bottom: 0;
  font-size: 18px;
  line-height: 1.5;
}

.featured-movie-button {
  display: inline-block;
  padding: 15px 20px;
  margin-top: 30px;
  border-radius: 5px;
  background-color: #e50914;
  font-weight: bold;
  font-size: 18px;
  line-height: 1;
  color: #fff;
  text-decoration: none;
  transition: all .2s ease-in-out;
}

.featured-movie-button:hover {
  background-color: #bd0912;
}

.featured-movie-button:focus {
  box-shadow: 0 0 0 3px #8d060d;
}

.movies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie {
  width: 10%;
  margin-bottom: 30px;
}

.movie-front {
  position: relative;
}

.movie img {
  width: 80%;
}

.movie p {
  font-size: 18px;
}

.movie span {
  display: inline-block;
  position: absolute;
  padding: 3px;
  border-radius: 3px;
  background-color: #e50914;
  font-size: 12px;
  line-height: 1;
  color: #fff;
}

.movie-release-date {
  top: 10px;
  left: 30px;
}

.movie-category {
  bottom: 15px;
  right: 30px;
}

.movie-details {
  width: calc(1000% - 50px);
  height: 0;
  overflow: hidden;
  background-color: #222;
  color: #fff;
}

.movie.is-active .movie-details {
  height: auto;
  padding: 25px;
}
